# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.docz
.vscode
# testing
/coverage

# production
/build
/dist
.next
next
out
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#server file
packages/functions/next
package-lock.json
.firebase
firebase-debug.log
#submodule
.cache/
.now
#docz ignore
docz
docz-core
.vercel


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.next
.docz
out
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Packages have their independent repo
/packages

# ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
.vercel
.firebase
