:root {
  --fontSyncopate: 'Syncopate', sans-serif;
  --fontOswald: 'Oswald', sans-serif;
  --fontDosis: 'Dosis', sans-serif;
  --fontNotoSans: 'Noto Sans', sans-serif;
}

.darkMode {
    background: #111721;

    .green {
        color: #6FCF97;
    }
}
.darkMode header {
    background: #192029;
}
.darkMode h3 {
  font-family: var(--fontSyncopate);
  color: #00DEE6;
  font-size: 24px;
  font-weight: 550;
  letter-spacing: 5px;
}
.darkMode .light-bb,
.darkMode .input-group-text,
.darkMode .nav-tabs {
    border: none;
}
.darkMode .market-trade .nav-tabs {
    border: none;
}

.darkMode .nav-tabs .nav-link.active {
    background: transparent;
}

.darkMode .market-trade .market-trade-buy input.slippage-percentage-input {
    color: #00DEE6
}

th {
    color: #C1C5D2 !important;
}

.darkMode .market-pairs {
    border: 1px solid #2a2e39;
    background: #202734;
}
.darkMode th { 
    background-color: #111721 !important;
}
.darkMode tr {
    background: #070B15
}
.darkMode tr:nth-child(2n) {
    background: #111721;
}
.darkMode .order-book thead tr {
    border-bottom: 1px solid #2a2e39;
}
.darkMode .order-book,
.darkMode .market-news {
    border: 1px solid #2a2e39;
    background: #1D0E6B;
    margin-bottom: 1rem;
}

.darkMode .market-history {
    background: #111721
}

.darkMode tbody tr:hover {
    background: #2a2e39;
}
.darkMode .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #69727a;
}
.darkMode .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #69727a;
}
.darkMode .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #69727a;
}
.darkMode .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #69727a;
}
.darkMode tbody tr {
    color: #ffffff;
}
.darkMode thead th,
.darkMode .market-pairs .nav-link {
    color: #4f5966;
}
.darkMode .market-pairs .nav-link.active,
.darkMode #STAR i {
    color: #ffffff;
}
.darkMode .red {
    color: #ff231f;
}
.darkMode .market-pairs .nav {
    background: #1D0E6B;
}
.darkMode .market-pairs input{
    border-color: #2a2e39;
    background: #ffffff;
}
.darkMode .market-pairs input {
    color: #1D0E6B;
}
.darkMode .heading {
    background: #1c2030;
    color: #ffffff;
}
.darkMode .ob-heading tr {
    border-top: 1px solid #2a2e39 !important;
    border-bottom: 1px solid #2a2e39 !important;
}
.darkMode .ob-heading tr:hover {
    background: #131722;
    cursor: default;
}
.darkMode .ob-heading span {
    color: #4f5966;
}
.darkMode .dropdown-menu {
    background: #131722;
    box-shadow: 0 0 10px 0 #131722;
    border: 1px solid #2a2e39;
}
.darkMode .dropdown-item:focus,
.darkMode .dropdown-item:hover {
    background-color: #2a2e39;
    color: #ffffff;
}
.darkMode .market-history .nav {
    background: #1D0E6B;
}
.darkMode .market-history .nav-link.active {
    color: #ffffff;
}
.darkMode .market-history .nav-link {
    color: #4f5966;
}
.darkMode .red-bg-80:after,
.darkMode .red-bg-60:after,
.darkMode .red-bg-40:after,
.darkMode .red-bg-20:after,
.darkMode .red-bg-10:after,
.darkMode .red-bg-8:after,
.darkMode .red-bg-5:after,
.darkMode .red-bg:after {
    background: #ff231f63;
}
.darkMode .market-news {
    background: #131722;
}
.darkMode .market-news li {
    border-bottom: 1px solid #2a2e39;
}
.darkMode .market-news li:hover {
    background: #2a2e39;
}
.darkMode .market-news li strong,
.darkMode .market-news li a {
    color: #c5cbce;
}
.darkMode .market-order {
    background: #131722;
}
.darkMode .no-data i,
.darkMode .no-data {
    color: #2a2e39;
}
.darkMode .market-trade,
.darkMode .market-portfolio {
    border: 1px solid #2a2e39;
    background: #202734;
    color: white;
}
.darkMode .market-portfolio {
    h4 {
      color: #C1C5D2;
    }

    .portfolio-table {
        color: #2A3962;
        background: #111721;
    
        th {
          background-color: #111721;
        }
        tr {
          background: #111721
        }
        tr:nth-child(2n+1) {
          background: #070B15
        }
        .secondary-label {
            color: #C1C5D2
        }
      }
  }
.darkMode .market-trade .nav .nav-item .nav-link.active {
    background: transparent;
    color: #ffffff;
}
.darkMode .market-trade .nav .nav-item .nav-link {
    color: #4f5966;
}
.darkMode .market-trade p {
    color: #c5cbce;
}
.darkMode .market-trade-list li a {
    background: #2a2e39;
    color: #ffffff;
}
.darkMode .market-trade input {
    border: 1px solid #2a2e39;
    background: #111721;
    color: #ffffff;
}

.darkMode .market-trade .input-group .input-group-append button {
    background: #fff;
}

.darkMode .market-trade .input-group-text {
    background: #2a2e39;
    color: #ffffff;
    border-color: #2a2e39;
}
.darkMode .token-modal .form-control {
    color: #000;
}
.darkMode .market-trade-buy .market-trade-list li a:hover {
    background: #26de81;
    color: #fff;
}
.darkMode .market-trade-sell .market-trade-list li a:hover {
    background: #ff231f;
    color: #fff;
}
.darkMode #darkDepthChart {
    background: #131722;
}
.darkMode .markets {
    background: #131722;
}
.darkMode .markets-pair-list .nav {
    background: #1c2030;
}
.darkMode .markets-pair-list .nav-link.active,
.darkMode #STAR i {
    color: #ffffff;
}
.darkMode thead th,
.darkMode .markets-pair-list .nav-link {
    color: #4f5966;
}
.darkMode .markets-pair-list .load-more {
    border: 1px solid #2a2e39;
    color: #ffffff;
}
.darkMode .markets-pair-list .load-more:hover {
    color: #fff;
    border: 1px solid #007bff;
}
.darkMode .markets-content h2,
.darkMode .markets-content p {
    color: #ffffff;
}
.darkMode .markets-content span.green,
.darkMode .markets-content span.red {
    color: #fff;
}
.darkMode .market-trade-sell {
    border-left: 1px solid #2a2e39;
}
.darkMode .markets-container {
    background: #1e222d;
}
.darkMode .sign-up-form h3 {
    border-top: 0;
    margin-top: 0;
    padding-top: 15px;
}
.darkMode header nav .nav-item.active a.btn:hover {
    color: #fff;
}

.darkMode .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.darkMode .dropdown-menu p {
    color: #ffffff;
}

.darkMode .dropdown-header {
    border-bottom: 1px solid #2a2e39;
}

.darkMode {
    .search-dropdown-options {
        background-color: #070B15
    }
}

.darkMode .nav-item.input-group .form-control {
    background-color: #070B15;

    &::placeholder {
        color: #2a2e39;
    }
}

.darkMode .header-img-icon .profile-nav .nav-item .nav-link:hover {
    background-color: #2a2e39;
    color: #ffffff;
}

.darkMode .form-control,
.darkMode .settings-profile select {
    background-color: #2a2e39;
    border: 1px solid #2a2e39 !important;
    color: #ffffff;
}
.darkMode .form-access form {
    padding: 30px;
    border-radius: 5px;
    min-width: 350px;
    box-shadow: 0 0 10px 0 #131722;
    border: 1px solid #2a2e39;
}
.darkMode .form-access h2,
.darkMode .form-access {
    color: #ffffff;
}

.darkMode .form-access .custom-control-label::before {
    border: #2a2e39 solid 1px;
    background-color: #2a2e39;
}

.darkMode .error-page a {
    border: 1px solid #2a2e39;
    color: #ffffff;
}
.darkMode .error-page a:hover {
    border: 1px solid #007bff;
    background: #007bff;
    color: #ffffff;
}

.darkMode .error-page h2,
.darkMode .error-page p {
    color: #c5cbce;
}

.darkMode .wallet .nav {
    background: #1e222d;
}
.darkMode .wallet h2,
.darkMode .wallet h3,
.darkMode .wallet h4,
.darkMode .wallet p {
    color: #ffffff !important;
}
.darkMode .wallet button.green,
.darkMode .wallet button.red,
.darkMode .wallet .nav-pills a.active h2,
.darkMode .wallet .nav-pills a.active h3,
.darkMode .wallet .nav-pills a.active p {
    color: #ffffff;
}

.darkMode .wallet .tab-content li:first-child {
    border-bottom: 1px solid #2a2e39;
}
.darkMode .wallet-history tr {
    background: #1e222d;
}
.darkMode .wallet-address input,
.darkMode .wallet-address input:focus {
    border: 1px solid #2a2e39;
    background: #2a2e39;
    box-shadow: none;
    color: #ffffff;
}
.darkMode .depth-chart-inner {
    border: 1px solid #2a2e39;
}

.darkMode .markets-capital-item {
    box-shadow: 0 0 10px 0 #131722;
    border: 1px solid #2a2e39;
}

.darkMode .markets-capital-item h2,
.darkMode .markets-capital-item h4 {
    color: #fff;
}
.darkMode .settings .card {
    background: #1e222d;
}

.darkMode .settings .card-title {
    color: #fff;
}

.darkMode .settings-nav {
    background: #1e222d;
}

.darkMode .settings-nav .nav-link {
    color: #ffffff;
}

.darkMode .settings-notification li {
    border-bottom: 1px solid #2a2e39;
}
.darkMode .settings-notification li:last-child {
    border-bottom: 0;
}
.darkMode .settings-notification p {
    color: #ffffff;
}
.darkMode .settings-notification span {
    color: #4f5966;
}

.darkMode .settings label {
    color: #fff;
}
.darkMode .settings .custom-file-label {
    background: #2a2e39;
    border: 1px solid #2a2e39;
    color: #616d75;
}

.darkMode .settings-profile input[type='submit'] {
    border: 1px solid #007bff;
}
.darkMode .market-carousel-item {
    border: 1px solid #2a2e39;
}
.darkMode .market-carousel-item {
    color: #fff;
}
.darkMode .btn.buy {
    color: #000;
}
.darkMode .market-carousel-item .btn.buy:hover,
.darkMode .market-carousel-item .btn.sell:hover {
    color: #fff;
    border-color: #fff;
}
.darkMode .news-details,
.darkMode .page-content {
    color: #fff;
}
.darkMode .navbar-toggler-icon {
    filter: contrast(0.1);
}

.darkMode {
    .market-trade {
        .rc-slider-track, .rc-slider-handle {
        background-color: #26de81;
        }
        .rc-slider-handle:hover, .rc-slider-handle {
        border-color: #26de81;
        }
    
        .rc-slider-rail {
        background-color: #FFF;
        }
    
        .rc-slider-dot {
            background-color: #FFF;
            border-color: #FFF
        }
    }
}
.darkMode {
    .token-info .selected-token .token-icon {
        border-color: #26de81   
    }

    .token-info {
        .social-drop-down {
            background: #070B15;
            a {
                color: #fff;
            }
        }

        .info-header {
            color: #C1C5D2
        }

        .info-value {
            color: #A3FFFF
        }
    }
}

.darkMode {
    .search-box {
        input::placeholder {
            color: #f2f2f2
        }
    }
}

.darkMode .toggle-wrapper {
    .toggleContainer {
        background: #000;
        
        .toggle {
            background: #C1C5D2;
        }
    }

    .toggleContainer .toggleOption.selected {
        background-color: #C1C5D2;
        color: #000;
    }

    .toggleContainer .toggleOption {
        color: #fff;
    }
}

.darkMode .market-trade {
    .nav-tabs .nav-link.active:after,
    .nav-tabs .nav-link:hover:after {
        border: 2px solid #00DEE6;
    }
}