:root {
  --tv-color-platform-background: #150035;
  --tv-color-pane-background: #150035;
  --tv-color-pane-background-secondary: #150035;
  --tv-color-toolbar-button-background-hover: #1D0E6B;
  --tv-color-toolbar-button-background-secondary-hover: #F9DF00;
  --tv-color-toolbar-button-background-expanded: #1D0E6B;
  --tv-color-toolbar-button-text: #26de81;
  --tv-color-toolbar-button-text-hover: #F9DF00;
  --tv-color-toolbar-button-text-active: #F9DF00;
  --tv-color-toolbar-button-text-active-hover: #F9DF00;
  --tv-color-item-active-text: #26de81;
  --tv-color-toolbar-toggle-button-background-active: #F9DF00;
  --tv-color-toolbar-toggle-button-background-active-hover: #26de81;
}