.market-history {
  font-family: var(--fontDosis);
}
.market-history .nav {
    background: #f5f9fc;
}
.market-history .nav-link {
    color: #4a4a4a;
    padding: 10px 13px;
}

.market-history .nav-link.active {
    color: #007bff;
    background: transparent;
}

.market-history thead tr th,
.market-history tbody tr td {
    font-weight: 400;
}
.market-history .table-container {
    height: 315px;
    overflow-y: auto;
}

.market-history {
    border: 1px solid #e0e3eb;
    border-radius: 8px;
}

.market-history th {
  color: #A3FFFF !important
}

.market-history a {
  color: #fff;
  text-decoration: none;
}

.market-history .table-wrapper {
  position: relative;
}

.market-history .table-header {
  position: absolute;
  width: 100%
}