.token-info {
  padding: 20px;
  margin-top: 1rem;

  h3 {
    padding: 0
  }

  .info-row {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .info-stat {
    display: flex;
    flex-direction: column;
    width: 30%;
    flex-shrink: 0;
    margin-right: 20%;
  }

  .info-header {
    font-size: 18px;
    color: #00DEE6
  }

  .info-value {
    color: #fff;
    font-size: 24px;
  }
}
