.token-info {
  font-family: var(--fontDosis);
  padding: 20px;

  &.market-history h3 {
    padding: 0
  }

  .selected-token {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;

    .token-icon {
      width: 50px;
      height: 50px;
      border: 3px solid #F9DF00;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .info-row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      .selected-token {
        width: 100%;
        justify-content: center;
      }

      .info-stat {
        margin: 5px 0;
        width: 50%;
      }
    }
  }

  .info-stat {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 100px;
    text-align: center;
  }

  .info-header {
    font-size: 16px;
    color: #00DEE6
  }

  .info-value {
    color: #fff;
    font-size: 24px;
  }

  .selected-token-info div {
    font-size: 20px;
  }
}