
.main-chart {
    height: 100%;
    width: 100%;
    position: relative;
}
.technical-analysis .tradingview-widget-container {
    margin-bottom: 30px;
}
.symbol-info .tradingview-widget-container {
    margin-bottom: 15px;
}
.markets-overview .tradingview-widget-container {
    margin-bottom: 30px;
}
#tv_chart_container, #tradingview_8a4d2 {
  height: 100%;
}

.token-not-supported {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  font-family: var(--fontDosis);
  background-color: rgb(0,0,0);
  opacity: 0.6;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #F9DF00;

  div {
    text-align: center;
  }

  span {
    display: block;
    font-size: 20px
  }
}

.react-resizable {
  position: relative;
  width: 100%;
  padding: 20px;
}
.react-resizable-handle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: ns-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: ns-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: ns-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ns-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}