footer nav a:hover {
  color: #89bcf2;
}
footer .social-icon {
  display: inline-block;
}

footer .navbar {
  justify-content: center;
}
footer .utopia {
  margin: 0px;
  margin-right: 30px;
}

footer a {
  text-decoration: none;
  margin-left: 20px;
}

